{% extends "base.html" %}

{% block title %}Profile: {{username}}{% endblock %}

{% block content %}

    <div id="profile">
        <div v-if="!error.state">
            <div class="row">
                <div class="col-md-12 user">
                    <h1 v-if="user.displayName">${user.displayName}</h1>
                    <h1 v-else>${user.username}</h1>
                    <h4 v-if="user.username && user.id">
                        @${user.username} | #${user.id}
                        <span v-if="user.isStaff"> | Staff</span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 feed">
                    <h2>Feed</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 recipes">
                    <h2>Recipes</h2>
                    <div class="container-fluid">
                        <div class="row">
                            <a 
                                v-for="recipe in user.recipes.created" 
                                class="col-lg-4 col-sm-6" style="margin-bottom: 15px;"
                                v-bind:href="'/recipe/'+recipe.id+'/'"
                                >

                                <div 
                                    class="card" 
                                    style="z-index: 999; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; text-decoration: none;">

                                    <img 
                                        class="card-img-top" 
                                        v-bind:src="recipe.image"
                                        alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">${recipe.title}</h5>
                                        <p class="card-text">
                                            <i v-for="(foo, i) in Math.round(recipe.rating)" class="fas fa-star" style="color: gold;"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <h1>Error ${error.code}</h1>
            <h3>${error.text}</h3>
        </div>
    </div>
    

{% endblock %}

{% block vue_script %}

    <script type="text/javascript">
        
        new Vue({
            el: '#profile',
            delimiters: ['${', '}'],
            data: {
                user: {
                    username: "",
                    id: "",
                    displayName: "",
                    isStaff: false,

                    recipes: {
                        created: [],
                    }
                },
                loadingUser: false,
                loadingRecipes: false,
                error:
                {
                    state: false,
                    code: null,
                    text: null
                }
            },
            mounted: function()
            {
                var username = "{{username}}";
                var id = parseInt("{{user_id}}");
                if(id)
                {
                    this.getUserById(id);
                }
                else
                {
                    if(username)
                    {
                        this.getUserByUsername(username);
                    }
                }
            },
            methods:
            {
                getUserByUsername: function(_username)
                {
                    this.loadingUser = true;
                    this.$http.get(`/api/user/?username=${_username}`)
                        .then((response) => {
                            if(response.data.length > 0)
                            {
                                this.parseUser(response.data[0].user);
                            }
                            else
                            {
                                this.error.state = true;
                                this.error.code = 404;
                                this.error.text = "Not Found.";
                            }
                            
                            this.loadingUser = false;
                        })
                        .catch((err) => 
                        {
                            this.loadingUser = false;

                            console.log(err)
                            this.error.state = true;
                            this.error.code = err.status;
                            this.error.text = err.statusText;
                        })
                },
                getUserById: function(_id)
                {
                    this.loadingUser = true;
                    this.$http.get(`/api/user/${_id}/`)
                        .then((response) => {

                            this.parseUser(response.data.user);
                            
                            this.loadingUser = false;
                        })
                        .catch((err) => 
                        {
                            this.loadingUser = false;

                            console.log(err)
                            this.error.state = true;
                            this.error.code = err.status;
                            this.error.text = err.statusText;
                        })
                },
                parseUser: function(user)
                {
                    console.log(user);
                    this.user.username = user.username;
                    this.user.id = user.id;
                    if(user.first_name || user.last_name)
                    {
                        this.user.displayName = user.first_name+" "+user.last_name;
                    }
                    this.user.isStaff = user.is_staff;

                    // Get the recipes
                    this.getUserRecipes(user.id);
                },
                getUserRecipes: function(_user_id)
                {
                    this.loadingRecipes = true;
                    this.$http.get(`/api/recipe/?creator=${_user_id}`)
                        .then((response) => 
                        {
                            this.user.recipes.created = response.data;
                            console.log(this.user);
                            this.loadingRecipes = false;
                        })
                        .catch((err) => 
                        {
                            this.loadingRecipes = false;
                            console.log(err);
                        })
                }
            }
        })
    </script>

{% endblock %}