<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Recipe Details</title>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">

    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- boostrap css -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>

<body>
    <div id="recipe">
        <div v-if="!error.state" class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>${recipe.title}</h1>
                    <h5>
                        <i v-for="(foo, i) in Math.round(recipe.rating)" class="fas fa-star" style="color: gold;"></i>
                    </h5>
                </div>
                <div class="col-sm-6 text-right">
                    <h5>By ${"User"}</h5>
                </div>
                <div class="col-md-12">
                    <p>
                        ${recipe.description}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h5>Steps</h5>
                </div>
                <div class="col-sm-6 text-right">
                    <span>Recipe for ${recipe.forAmountOfPersons}</span>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                            <tr v-for="(step, i) in steps">
                                <th style="width: 75px;">${i+1}</th>
                                <td>
                                    <input v-model="step.text" type="text" placeholder="What to do" style="background: none; border: none; color: inherit;">
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <button v-on:click='steps.push({"amount":"", "action":"", "ingredient":""})' class="btn btn-primary">Add Step</button>

                </div>
            </div>


        </div>
        <div v-else>
            <h1>Error ${error.code}: ${error.text}</h1>
        </div>
    </div>

    <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>



    <!-- bootrtap js files -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
        </script>

    <!-- vue.js files -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5 "></script>
    <script type="text/javascript">
        new Vue({
            el: '#recipe',
            delimiters: ['${', '}'],
            data:
            {
                recipe: {},
                steps: [],
                loading: false,
                message: null,
                newRecipe: {
                    'step_ingredent_amount': null,
                    'step_action': null
                },
                error: {
                    state: false,
                    code: null,
                    text: null
                }
            },
            mounted: function ()
            {
                var recipe_id = parseInt("{{recipe_id}}");
                this.getRecipe(recipe_id);
            },
            methods:
            {
                getRecipe: function (id)
                {
                    this.loading = true;
                    this.$http.get(`/api/recipe/${id}/`)
                        .then((response) => 
                        {
                            this.recipe = response.data;
                            this.getStepsAsTextAndPush(this.recipe.steps)

                            this.loading = false;
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                            this.error.state = true;
                            this.error.code = err.status;
                            this.error.text = err.statusText;
                        })
                },
                updateRecipe: function ()
                {
                    this.loading = true;
                    this.$http.put(`/api/recipe/${this.currentRecipe.recipe_id}/`, this.currentRecipe)
                        .then((response) => 
                        {
                            this.loading = false;
                            this.currentRecipe = response.data
                            this.getRecipes()
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteRecipe: function (id)
                {
                    this.loading = true;
                    this.$http.delete(`/api/recipe/${id}/`)
                        .then((response) => 
                        {
                            this.loading = false;
                            this.getRecipes()
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },

                getStepsAsTextAndPush: function (stepIds)
                {
                    this.loading = true;
                    for (var i = 0; i < stepIds.length; i++)
                    {
                        this.$http.get(`/api/step/${stepIds[i]}/`)
                            .then((response) => 
                            {
                                console.log(response.data)
                                this.steps.push(response.data);
                            })
                            .catch((err) => 
                            {
                                console.log(err);
                            })
                    }
                    this.loading = false;
                },
                makeStepText: function (stepObject)
                {
                    return `${stepObject.action}`
                },
                getActionAndPushStep: function (id, step)
                {
                    this.$http.get(`/api/action/${id}/`)
                        .then((response) => 
                        {

                        })
                        .catch((err) => 
                        {
                            console.log(err);
                        })
                }
            }
        })
    </script>
</body>

</html>