{% extends "base.html" %}

{% block title %} Recipes {% endblock %}

{% block content %}

    <div id="recipes">
        <div class="container">
            <div class="row">
                <h1>List of Recipes
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRecipeModal">New Recipe
                    </button>
                </h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="recipe in recipes">
                            <th scope="row">${recipe.id}</th>
                            <td>${recipe.title}</td>
                            <td>
                                <button class="btn btn-info" v-on:click="getRecipe(recipe.id)">Edit</button>
                                <button class="btn btn-danger" v-on:click="deleteRecipe(recipe.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Add Recipe Modal -->
                <div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">ADD RECIPE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="addRecipe()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="recipe_title">Recipe Heading</label>
                                        <input type="text" class="form-control" id="recipe_title" placeholder="Enter Recipe Heading" v-model="newRecipe.title" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipe_text">Recipe Body</label>
                                        <textarea class="form-control" id="recipe_text" placeholder="Enter Recipe Body" v-model="newRecipe.text" required="required" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading" v-if="loading===true">Loading&#8230;</div>
                </div>
                <!-- End of add recipe modal -->

                <!-- Edit Recipe Modal -->
                <div class="modal fade" id="editRecipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">EDIT RECIPE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="updateRecipe()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="recipe_title">Recipe Title</label>
                                        <input type="text" class="form-control" id="recipe_title" placeholder="Enter Recipe Title" v-model="currentRecipe.title"
                                            required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipe_text">Recipe Text</label>
                                        <textarea class="form-control" id="recipe_text" placeholder="Enter Recipe Text" v-model="currentRecipe.text" required="required" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading" v-if="loading===true">Loading&#8230;</div>
                </div>
                <!-- End of edit recipe modal -->
            </div>
        </div>
        <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>

{% endblock %}


{% block vue_script %}

    <script type="text/javascript">
        new Vue({
            el: '#recipes',
            delimiters: ['${', '}'],
            data:
            {
                recipes: [],
                loading: false,
                currentRecipe: {},
                message: null,
                newRecipe: {
                    'title': null,
                    'text': null
                }
            },
            mounted: function()
            {
                this.getRecipes();
            },
            methods:
            {
                getRecipes: function ()
                {
                    this.loading = true;
                    this.$http.get('/api/recipe/')
                        .then((response) => 
                        {
                            this.recipes = response.data;
                            this.loading = false;
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },
                
                getRecipe: function (id)
                {
                    this.loading = true;
                    this.$http.get(`/api/recipe/${id}`)
                        .then((response) => 
                        {
                            this.currentRecipe = response.data;
                            $("#editRecipeModal").modal("show");
                            this.loading = false;
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },
                addRecipe: function ()
                {
                    this.loading = true;
                    this.$http.post('/api/recipe/', this.newRecipe)
                        .then((response) => 
                        {
                            this.loading = false;
                            this.getRecipes()
                            $("#addRecipeModal").modal("hide");
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateRecipe: function ()
                {
                    this.loading = true;
                    this.$http.put(`/api/recipe/${this.currentRecipe.id}/`, this.currentRecipe)
                        .then((response) => 
                        {
                            this.loading = false;
                            this.currentRecipe = response.data
                            this.getRecipes()
                            $("#editRecipeModal").modal("hide");
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteRecipe: function (id)
                {
                    this.loading = true;
                    this.$http.delete(`/api/recipe/${id}/`)
                        .then((response) => 
                        {
                            this.loading = false;
                            this.getRecipes()
                        })
                        .catch((err) => 
                        {
                            this.loading = false;
                            console.log(err);
                        })
                },
            }
        })
    </script>
{% endblock %}